.achievement-main {
    padding: 12px;
    margin: 20px 30px;
}

.border-shadow {
    box-shadow: 1px 1px 3px rgb(150, 150, 150);
}

.border-shadow:hover {
    box-shadow: 1px 1px 6px rgb(120, 120, 120);
}

.flex-center {
    display: flex;
    justify-content: center;
}

.achievement-inline {
    display: flex;
    flex-direction: row;
}

.achievement-inline h4{
    margin-left: 6px;
}

.border-style {
    margin: 6px 0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 2px rgb(150, 167, 185);
}

.flex-row-space-bw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-r-8 {
    margin-right: 8px;
}

.margin-l-8 {
    margin-left: 8px;
}

@media (max-width: 526px) {
    .achievement-main {
        padding: 12px;
        margin: 12px 6px;
    }

    h3 {
        font-size: 0.96rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    .achievement-inline {
        font-size: 0.8rem;
    }

    p {
        font-size: 0.8rem;
    }
}
