.display-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-modal {
    max-width: 720px;
    overflow: scroll;
    margin-top: 15vh;
    height: 65vh;
}

.content-modal::-webkit-scrollbar {
    width: 0px;
}

.review-section {
    margin: 12px 0;
    border-radius: 12px;
    padding: 12px 0;
}

.avatar-component {
    width: 40px !important;
    height: 40px !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row h4 {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.review-style {
    border: 1px solid rgb(221, 221, 221);
    margin-top: 12px;
    border-radius: 12px;
    padding: 12px 8px;
}

.padding-12 {
    padding: 12px;
}