.avatar {
    display: inline-block;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 1px 1px 3px black;
    overflow: hidden;
}

.avatar img {
    width: auto;
    height: 100%;
}