.avatar {
    display: inline-block;
    height: 144px;
    width: 144px;
    border-radius: 50%;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 1px 1px 3px black;
    overflow: hidden;
}

.avatar img {
    width: auto;
    height: 100%;
}

.avatar-responsive {
    height: 120px;
    width: 120px;
}

@media(max-width: 840px) {
    .avatar-responsive {
        width: 96px;
        height: 96px;
    }
}

@media(max-width: 526px) {
    .avatar-responsive {
        width: 60px;
        height: 60px;
    }
}