.avatar {
    display: inline-block;
    width: 144px;
    height: 144px;
    border-radius: 10px;
    border: 2px solid rgb(119, 119, 119);
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: auto;
}