.red span {
    margin-left: 6px;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    min-width: 10px;
}

.green span {
    margin-left: 6px;
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    min-width: 10px;
}

.username-link {
    font-size: 0.9rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    text-decoration: none;
}

@media(max-width: 840px) {
    .username-link {
        font-size: 0.85rem;
    }
}

@media(max-width: 526px) {
    .username-link {
        font-size: 0.75rem;
    }
}