.App {
    display: flex;
    flex-direction: column-reverse;
}

.App .container {
    flex-grow: 1;
    padding: 0 10px;
}

::-webkit-scrollbar {
    width: 8px;
  }

::-webkit-scrollbar-thumb {
background: #888; 
}

::-webkit-scrollbar-thumb:hover {
background: #777; 
}

@media(max-width: 768px) {
    .App .container {
        padding: 0 5px;
    }
}

@media(max-width: 425px) {
    .App .container {
        padding: 0 0px;
    }
}
